.mat-dialog-content {
    height: 150px;
    p {
        text-align: center;
    }
    p.new-token {
        font-size: 16px;;
        font-weight: bold;
    }
    .mat-dialog-actions {
        float: right;
    }
}